{% extends 'base.html.twig' %}

{% block title %}Sessions{% endblock %}

{% block body %}
<h2 class="p-2 mb-2 bg-secondary text-white">Liste des sessions </h2>



<h3><br><a href="{{ path('add_session') }}" class="text-secondary">Ajouter une session</a><br></h3>

<br><p> Il existe {{ sessions | length }} sessions disponibles : </p>
{% for session in sessions %}
    <a href="{{ path('show_session', {'id': session.id}) }}" class="text-secondary">{{ session }}</a>
    <a href="{{ path('delete_session', {'id': session.id}) }}" class="text-danger"> Supprimer</a>
    <a href="{{ path('update_session', {'id': session.id}) }}" class="text-primary"> Editer</a><br>
{% endfor %}


{% endblock %}

